.navWrapper {
  padding: 2rem 1.5rem;

  display: flex;
  flex-direction: row;

  button {
    background: none;
    border: none;
    padding: 0;
  }
}

.navMenu {
  margin-left: auto;
}

.focused {
  opacity: 0.5;
}
