.featureContent {
  padding: 4rem 1.5rem;
  text-align: center;

  .title {
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 2rem;
    line-height: 2.4663rem;
    letter-spacing: -0.0144rem;
  }

  .featureText {
    margin-top: 1.5rem;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.875rem;
    letter-spacing: -0.008rem;
    color: var(--color-font-secondary);
  }

  button {
    margin-top: 2rem;
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    border: none;
    background: none;
    position: relative;
  }

  .transformBtn::after {
    content: attr(data-content);
    position: absolute;
    background-color: hsla(51, 100%, 49%, 1);
    border-radius: 1.75rem;
    opacity: 0.25;
    top: 60%;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
  }

  .standoutBtn::after {
    content: attr(data-content);
    position: absolute;
    background-color: hsla(7, 99%, 70%, 1);
    border-radius: 1.75rem;
    opacity: 0.25;
    top: 60%;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
  }
}
