html {
  --color-primary: hsl(0, 0%, 100%);
  --color-secondary: hsl(0, 0%, 0%);
  --color-font-secondary: hsla(233, 10%, 55%, 1);

  --color-footer-bg: hsla(168, 44%, 70%, 1);
  --color-footer-font: hsla(168, 46%, 31%, 1);
}
